body {
  margin: 0;
  padding: 0;
  font-family: 'Quicksand', sans-serif;
  box-sizing: border-box;
  background: darkgrey;
}
p {
  font-weight: 100;
}
.App {
  text-align: center;
  width: 800px;
  margin: 0 auto;
  position: relative;
}
.timesetter{
  border: 1px solid red;
  box-shadow: 0 0 12px red;
  border-radius: 50%;
  width: 160px;
  height: 160px;
  position: absolute;
  top: 80px;
  color: white;
}
#Pomodoro{
  left:80px;
}
#Break{
  right: 80px;
  border: 1px solid yellow;
  box-shadow: 0 0 12px yellow;
}
.timesetter-time-set-input{
  font-size: 3em;
  position: relative;
  text-align: right;
  left: -0.2em;
  width: 2em;
  background: none;
  color: white;
  border: none;
  top: 1em;
  font-family: 'Quicksand';
}
.timesetter-time-unit {
  top: 3em;
  left: -1.2em;
  position: relative;
}
.timesetter-label{
  font-size: 1em;
  position: relative;
  bottom: -2.6em;
}
.button-alter-time {
  position: absolute;
  bottom: 33%;
  color: white;
  padding: 1em;
  background: rgba(120, 120, 120, 0.3);
  border-radius: 50%;
  height: 4em;
  width: 4em;
  cursor: pointer;
}
.button-alter-time.less{
  left: -5em;
}
.button-alter-time.more{
  right: -5em;
}
.pomodoro {
  border: 1px solid green;
  box-shadow: 0 0 22px white;
  border-radius: 50%;
  width: 330px;
  height: 330px;
  position: absolute;
  top: 300px;
  left: calc((800px - 330px)/2);
  color: white;
  cursor: pointer;
}
.pomodoro-time-display{
  font-size: 4em;
  position: relative;
  top: 10%
}
.pomodoro-time-display.hidden{
  display: none;
}
.pomodoro-label {
  position: relative;
  font-size: 3em;
  bottom: 10%;
  text-transform: uppercase;
}
.pomodoro-label.big {
  font-size: 5em;
  bottom: -8%;
}
.pomodoro.active{
  border: 2px solid green;
  box-shadow: 0 0 28px green;
}
.reset-button{
  position: absolute;
  top: 680px;
  width: 40px;
  left: calc((800px - 40px)/2);
  background: none;
  border: none;
  color: white;
}
.reset-button.hidden{
  display: none;
}
